#destaque{
    font-weight: 600;
    color: rgb(0, 225, 255);
}

footer.footer{
    font-size: 1rem;
    text-align: center;
    padding: 7px;
    background-color: #FFF;
    box-shadow: var(--shadow);
}
